/* styles.css */

.my-heading {
    margin: 5rem;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: -0.02em;
    /* padding: 0.75rem; */
  }
  
  .my-heading span {
    color: #007bff; /* or any other color you prefer */
  }
  .Homecenter {
    display: flex;
  }
  
  .left,
  .right {
    flex: 1;
    display: flex;
    align-items:self-start;

  }
  .right{
    align-items: center;
    text-align: center;
    justify-content: center;
    /* margin: 5px; */
    
  }
  img{
    border-radius: 10px;
    /* margin: 10px; */
    height: 350px;
  }
  text{
    font-size: 35px;
  }
  
  .my-heading {
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: -0.02em;
    padding: 0.75rem;
  }
  
  .my-heading span {
    color: #007bff; /* or any other color you prefer */
  }